*{margin: 0; padding: 0}

.logo{
    max-width: 200px;
    position: absolute;
    background-color: black;
}
.logo:hover{
    background-color: #A5DC05;
}

header {background-color: #01B0CC; font-size: 25px; padding: 10px; text-align: center; font-family: 'Kumbh Sans', sans-serif; margin-left: auto; margin-right: auto}

a {color: black; margin-right: auto; margin-left: auto; }

.nombresitio {color: black; text-decoration: none; font-size: 30px; font-family: 'Kumbh Sans', sans-serif; margin-right: auto; margin-left: auto; text-align: center;}

header nav a {background-color: black; color: white; text-decoration: none; display: inline-block; margin: 5px; padding: 5px}

header nav a:hover {background-color: #A5DC05; color: white;}

h1 {font-family: 'Kumbh Sans', sans-serif; ; border-bottom:3px; text-align:center }

h2 {text-align: center; }

h6 { color: gray; }


img {width: 90%; margin: auto; display: block;}

p{font-size: medium}

section {padding: 50px}

nav ul {list-style: none;}

nav ul li {display: inline;}

div {background-color: white; text-align: center; color: black; display: flex; flex-flow: wrap;align-self: center;}

.caja3columnas {background-color: white; text-align: center ; width: 31.3%; margin: 1%}

.teorias {padding-left: 100px; color: black; font-size: 35px; stroke: 8px; text-decoration: none; ; padding-top: 5px; display: inline-block; margin: 5px}

.teorias:hover{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
}

.videos {padding-left: 100px; color: black; font-size: 35px; stroke: 8px; text-decoration: none; ; padding-top: 5px; display: inline-block; margin: 5px}

.videos:hover{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
}
.noticias {padding-left: 100px; color: black; font-size: 35px; stroke: 8px; text-decoration: none; ; padding-top: 5px; display: inline-block; margin: 5px}
.noticias:hover{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;
}
body {background-color: black; color: white ; font-family: 'Kumbh Sans', sans-serif; font-size: 30px }

section {background-color: white; font-family: 'Kumbh Sans', sans-serif; color: black}

.cajasincolumna {background-color: black; color:white; width: 100%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; justify-content: center;}

.textos {padding-top: 30px; padding-bottom: 30px; text-align: center; justify-content: center;}

.cajawatch {height: 50px ;width: 400px; color: black; background-color: #A5DC05 ; margin: 0px auto; font-family: 'Kumbh Sans', sans-serif; text-align: center; display: flex; align-content: center; margin-top: 20px; }
.cajawatch:hover {background-color: #01B0CC}

a {color: black; display: flex; align-content: center; margin-left: auto; margin-right: auto; font-family: 'Kumbh Sans', sans-serif; font-size: xx-large}

.Cajaleer { border-radius: 10px; width: 400px; color: black; background-color: #A5DC05 ; margin: 0px auto; font-family: 'Kumbh Sans', sans-serif; text-align: center; display: flex; }
.Cajaleer:hover {background-color: #01B0CC}

.centrado{justify-content: center;}

.sizeVideo{
    width: 450px;
    height: 315px
}



footer {background-color: black; color: white; font-size: small ; text-align: center;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.columnGaleria{
  float: left;
  width: 25%;
}

.shadow{
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgGaleria{
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.imgGaleria:hover{
  transform: scale(1.6);
  max-width: 100%;
}

.cardHorizontal{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 30px;
}

.cardHorizontal:hover{
  background-color: cornsilk;
}

.column {
  float: left;
  width: 45%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  translate: -3px;
}

.cardNoticia{
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  translate: -3px;
  padding: 20px;
}
.card:hover{
  transform: scale(0.95);
}

/*estilos para tabletas*/
@media (max-width:768px) {
  .column {
    width: 50%;
  }

  .columnGaleria{
    float: left;
    width: 33.3%;
  }

 
}

/*estilos para celulares*/
@media  (max-width: 480px){
  .column {
    width: 25%;
  }
  .columnGaleria{
    float: left;
    width: 50%;
  }
  
}

@media screen and (max-width: 992px) {
  .column {
    width: 100%;
  }
}



